.surfimage {
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('assets/surf_header_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

